/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "PP Object Sans", sans-serif;
  color: var(--text-white-color);
  background: var(--primary-bg-color);
  background-image: url(../../assets/img/bg.png);
  background-repeat: repeat;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

a,
img,
button,
input,
label,
textarea,
select {
  padding: 0;
  font-family: inherit;
  color: inherit;
  outline: none;
  border: none;
}

input,
textarea {
  background: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill:hover {
  transition: background-color 1s 99999s;
  -webkit-text-fill-color: var(--text-color);
  caret-color: var(--text-color);
}

i,
em {
  font-style: italic;
}

b,
strong {
  font-weight: 600;
}

.icon path {
  fill: var(--icon-color);
}

.row > *, .container-fluid, .container {
  padding-left: calc(var(--grid-gutter-x) * 0.5);
  padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container-fluid, .container {
  --grid-gutter-x: 30px;
  --grid-gutter-y: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 1170px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--grid-gutter-y) * -1);
  margin-left: calc(var(--grid-gutter-x) * 0.5 * -1);
  margin-right: calc(var(--grid-gutter-x) * 0.5 * -1);
}
.row > * {
  margin-top: var(--grid-gutter-y);
}

.col {
  flex: 1 0;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-0 {
  margin-left: 0;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.g-0,
.gx-0 {
  --grid-gutter-x: 0px;
}

.g-0,
.gy-0 {
  --grid-gutter-y: 0px;
}

.g-1,
.gx-1 {
  --grid-gutter-x: 7.5px;
}

.g-1,
.gy-1 {
  --grid-gutter-y: 7.5px;
}

.g-2,
.gx-2 {
  --grid-gutter-x: 15px;
}

.g-2,
.gy-2 {
  --grid-gutter-y: 15px;
}

.g-3,
.gx-3 {
  --grid-gutter-x: 30px;
}

.g-3,
.gy-3 {
  --grid-gutter-y: 30px;
}

.g-4,
.gx-4 {
  --grid-gutter-x: 45px;
}

.g-4,
.gy-4 {
  --grid-gutter-y: 45px;
}

.g-5,
.gx-5 {
  --grid-gutter-x: 90px;
}

.g-5,
.gy-5 {
  --grid-gutter-y: 90px;
}

@media (max-width: 1439.98px) {
  .container {
    max-width: 1140px;
  }
  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0;
  }
  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xxl-0,
  .gx-xxl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xxl-0,
  .gy-xxl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xxl-1,
  .gx-xxl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xxl-1,
  .gy-xxl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xxl-2,
  .gx-xxl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xxl-2,
  .gy-xxl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xxl-3,
  .gx-xxl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xxl-3,
  .gy-xxl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xxl-4,
  .gx-xxl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xxl-4,
  .gy-xxl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xxl-5,
  .gx-xxl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xxl-5,
  .gy-xxl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xl-0,
  .gx-xl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xl-0,
  .gy-xl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xl-1,
  .gx-xl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xl-1,
  .gy-xl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xl-2,
  .gx-xl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xl-2,
  .gy-xl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xl-3,
  .gx-xl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xl-3,
  .gy-xl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xl-4,
  .gx-xl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xl-4,
  .gy-xl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xl-5,
  .gx-xl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xl-5,
  .gy-xl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .g-lg-0,
  .gx-lg-0 {
    --grid-gutter-x: 0px;
  }
  .g-lg-0,
  .gy-lg-0 {
    --grid-gutter-y: 0px;
  }
  .g-lg-1,
  .gx-lg-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-lg-1,
  .gy-lg-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-lg-2,
  .gx-lg-2 {
    --grid-gutter-x: 15px;
  }
  .g-lg-2,
  .gy-lg-2 {
    --grid-gutter-y: 15px;
  }
  .g-lg-3,
  .gx-lg-3 {
    --grid-gutter-x: 30px;
  }
  .g-lg-3,
  .gy-lg-3 {
    --grid-gutter-y: 30px;
  }
  .g-lg-4,
  .gx-lg-4 {
    --grid-gutter-x: 45px;
  }
  .g-lg-4,
  .gy-lg-4 {
    --grid-gutter-y: 45px;
  }
  .g-lg-5,
  .gx-lg-5 {
    --grid-gutter-x: 90px;
  }
  .g-lg-5,
  .gy-lg-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .g-md-0,
  .gx-md-0 {
    --grid-gutter-x: 0px;
  }
  .g-md-0,
  .gy-md-0 {
    --grid-gutter-y: 0px;
  }
  .g-md-1,
  .gx-md-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-md-1,
  .gy-md-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-md-2,
  .gx-md-2 {
    --grid-gutter-x: 15px;
  }
  .g-md-2,
  .gy-md-2 {
    --grid-gutter-y: 15px;
  }
  .g-md-3,
  .gx-md-3 {
    --grid-gutter-x: 30px;
  }
  .g-md-3,
  .gy-md-3 {
    --grid-gutter-y: 30px;
  }
  .g-md-4,
  .gx-md-4 {
    --grid-gutter-x: 45px;
  }
  .g-md-4,
  .gy-md-4 {
    --grid-gutter-y: 45px;
  }
  .g-md-5,
  .gx-md-5 {
    --grid-gutter-x: 90px;
  }
  .g-md-5,
  .gy-md-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .g-sm-0,
  .gx-sm-0 {
    --grid-gutter-x: 0px;
  }
  .g-sm-0,
  .gy-sm-0 {
    --grid-gutter-y: 0px;
  }
  .g-sm-1,
  .gx-sm-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-sm-1,
  .gy-sm-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-sm-2,
  .gx-sm-2 {
    --grid-gutter-x: 15px;
  }
  .g-sm-2,
  .gy-sm-2 {
    --grid-gutter-y: 15px;
  }
  .g-sm-3,
  .gx-sm-3 {
    --grid-gutter-x: 30px;
  }
  .g-sm-3,
  .gy-sm-3 {
    --grid-gutter-y: 30px;
  }
  .g-sm-4,
  .gx-sm-4 {
    --grid-gutter-x: 45px;
  }
  .g-sm-4,
  .gy-sm-4 {
    --grid-gutter-y: 45px;
  }
  .g-sm-5,
  .gx-sm-5 {
    --grid-gutter-x: 90px;
  }
  .g-sm-5,
  .gy-sm-5 {
    --grid-gutter-y: 90px;
  }
}
.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-grid {
  display: grid !important;
}

.d-none {
  display: none !important;
}

@media (max-width: 1439.98px) {
  .d-xxl-block {
    display: block !important;
  }
  .d-xxl-flex {
    display: flex !important;
  }
  .d-xxl-grid {
    display: grid !important;
  }
  .d-xxl-none {
    display: none !important;
  }
}
@media (max-width: 1199.98px) {
  .d-xl-block {
    display: block !important;
  }
  .d-xl-flex {
    display: flex !important;
  }
  .d-xl-grid {
    display: grid !important;
  }
  .d-xl-none {
    display: none !important;
  }
}
@media (max-width: 991.98px) {
  .d-lg-block {
    display: block !important;
  }
  .d-lg-flex {
    display: flex !important;
  }
  .d-lg-grid {
    display: grid !important;
  }
  .d-lg-none {
    display: none !important;
  }
}
@media (max-width: 767.98px) {
  .d-md-block {
    display: block !important;
  }
  .d-md-flex {
    display: flex !important;
  }
  .d-md-grid {
    display: grid !important;
  }
  .d-md-none {
    display: none !important;
  }
}
@media (max-width: 575.98px) {
  .d-sm-block {
    display: block !important;
  }
  .d-sm-flex {
    display: flex !important;
  }
  .d-sm-grid {
    display: grid !important;
  }
  .d-sm-none {
    display: none !important;
  }
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
html {
  --primary-bg-color: #242424;
  --second-bg-color: #b4e3a0;
  --text-white-color: #e7f3e2;
  --text-dark-color: #242424;
  --border-color: #e7f3e2;
  --icon-color: #e7f3e2;
  --hover-color: rgba(231, 243, 226, 0.06);
}

.navbar__list, .navbar, .logo, .header-container {
  display: flex;
  align-items: center;
}

.header {
  padding: 12px 20px;
  background-image: url(../../assets/img/bg.png);
  background-size: cover;
}

.header-container {
  justify-content: space-between;
  padding: 0 20px;
}

.logo {
  flex-direction: column;
  gap: 5px;
}
.logo__img {
  width: 84px;
}
.logo__text {
  font-size: 2.2rem;
  font-weight: 600;
  color: var(--text-white-color);
}

.navbar__item {
  padding: 13px 11px;
}
.navbar__item:hover {
  border: 1px solid #fff;
}
.navbar__link {
  color: var(--text-white-color);
  line-height: 1.4;
}

.footer-container__wrap {
  display: flex;
  align-items: center;
}

.footer {
  background-image: url(../../assets/img/bg.png);
  background-size: cover;
  padding-bottom: 55px;
}

.footer-slide:hover .footer-slide__wrap {
  animation-play-state: paused;
}

.footer-slide {
  position: relative;
  margin-bottom: 47px;
  background: var(--second-bg-color);
  overflow: hidden;
  white-space: nowrap;
}
.footer-slide::before, .footer-slide::after {
  content: "";
  position: absolute;
  top: 0;
  width: 12%;
  height: 100%;
  z-index: 2;
}
.footer-slide::before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), var(--second-bg-color));
}
.footer-slide::after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), var(--second-bg-color));
}
.footer-slide__wrap {
  padding: 8px 0;
  display: inline-block;
  animation: 25s slide infinite linear;
}
.footer-slide__text {
  margin: 0 14px;
  color: var(--text-dark-color);
  font-weight: 700;
  line-height: 1.4;
  text-transform: uppercase;
}

.footer-container__wrap {
  justify-content: space-between;
  padding: 10px 24px 10px 58px;
  border-top: 1px solid var(--border-color);
  cursor: pointer;
}
.footer-container__wrap:last-child {
  border-bottom: 1px solid var(--border-color);
}
.footer-container__wrap:hover {
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}
.footer-container__text {
  font-size: 2.8rem;
  line-height: 1.4;
  text-transform: uppercase;
}
.footer-container__img {
  position: relative;
  left: 50%;
  translate: -50%;
  margin-top: 78px;
}

.footer-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 48px;
}
.footer-wrap__link {
  padding: 12px;
  text-align: center;
  border: 1px solid var(--border-color);
  font-size: 1.4rem;
  transition: background-color 150ms cubic-bezier(0.22, 1, 0.36, 1);
}
.footer-wrap__link:hover {
  background: var(--hover-color);
}

.prod-pagination__item, .prod-pagination, .prod-item__btn, .prod-list {
  display: flex;
  align-items: center;
}

.prod-list__title, .prod-content__box {
  font-size: 1.4rem;
  line-height: 1.4;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.prod {
  padding: 48px 0 150px;
}

.prod-content__title {
  width: 25%;
  font-size: 6.4rem !important;
}
.prod-content__wrap {
  display: flex;
  gap: 20px;
  margin-top: 48px;
}
.prod-content__box {
  width: 50%;
  flex-shrink: 0;
}
.prod-content__desc {
  margin-top: 0 !important;
}

.prod-container {
  margin-top: 96px;
}

.prod-list {
  gap: 20px;
}
.prod-list__box {
  width: 50%;
  flex-shrink: 0;
}
.prod-list__title {
  margin-bottom: 14px;
}
.prod-list__item {
  width: 80%;
  padding: 13px 0;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.25s ease;
}
.prod-list__item:last-child {
  border-top: none;
}
.prod-list__item:last-child:hover {
  border-top: 1px solid var(--border-color);
}
.prod-list__item:hover {
  width: 100%;
}

.prod-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 64px 115px;
  margin-top: 95px;
}

.prod-item {
  position: relative;
  gap: 32px;
  cursor: pointer;
}
.prod-item__thumb {
  width: 431.7px;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: var(--hover-color) 0px 2px 1px, var(--hover-color) 0px 4px 2px, var(--hover-color) 0px 8px 4px, var(--hover-color) 0px 16px 8px, var(--hover-color) 0px 32px 16px;
}
.prod-item__content {
  width: 28%;
  margin: 36px 0 0 64px;
}
.prod-item__title {
  font-size: 3.2rem !important;
}
.prod-item__desc {
  margin-top: 11px;
  font-size: 1.6rem;
  line-height: 1.4;
}
.prod-item__btn {
  position: absolute;
  top: 50%;
  left: 221px;
  translate: 0 -50%;
  border-radius: 10px;
  width: 536px;
  height: 47px;
  justify-content: space-between;
  padding-left: 23px;
  border: 1px solid var(--border-color);
  cursor: pointer;
  rotate: -90deg;
  transition: background-color 150ms cubic-bezier(0.22, 1, 0.36, 1);
}
.prod-item__link {
  flex-shrink: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.prod-item__icon {
  padding: 10px;
  border-bottom: 1px solid var(--border-color);
  rotate: 90deg;
}

.prod-item:hover > .prod-item__btn {
  background: var(--hover-color);
}

.prod-pagination {
  justify-content: center;
  margin-top: 38px;
  padding: 10px 40px;
  border-radius: 6px;
}
.prod-pagination__list {
  display: flex;
  margin: 20px 30px;
}
.prod-pagination__item {
  width: 35px;
  height: 35px;
  justify-content: center;
  margin: 0 10px;
  background: var(--border-color);
  border-radius: 10px;
}
.prod-pagination__item:hover:not(.active) {
  background: #f9859a;
}
.prod-pagination__item.active {
  background-image: linear-gradient(#ff4568, #ff4568);
  background-repeat: no-repeat;
}
.prod-pagination__item.active .prod-pagination__link {
  color: var(--text-white-color);
}
.prod-pagination__link {
  color: var(--text-dark-color);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 45px;
}
.prod-pagination__btn1, .prod-pagination__btn2 {
  color: var(--text-white-color);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 45px;
  cursor: pointer;
}

.section-heading {
  color: var(--text-white-color);
  font-family: "Work Sans", sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.05;
  text-transform: uppercase;
}

.section-desc {
  margin-top: 24px;
  color: var(--text-white-color);
  font-size: 2rem;
  line-height: 1.4;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px;
  border: 1px solid var(--border-color);
}
.btn:hover {
  background: var(--hover-color);
  rotate: 45deg;
}

.home__wrap-img, .home__container {
  display: flex;
  align-items: center;
}

.home {
  padding: 37px 0 0;
  background-image: url(../../assets/img/bg.png);
  background-size: cover;
}
.home__container {
  justify-content: center;
}
.home__video {
  position: relative;
  z-index: 1;
  border-radius: 10px;
  box-shadow: var(--border-color) 0px 50px 50px -20px, var(--border-color) 0px 30px 60px -30px, var(--border-color) 0px -2px 6px 0px inset;
}
.home__wrap-img {
  position: absolute;
  left: 50%;
  bottom: 0;
  translate: -50%;
  z-index: 2;
  flex-direction: column;
  gap: 10px;
  rotate: -5deg;
}
.home__logo {
  width: 184px;
}
.home__title {
  width: 100px;
  -webkit-text-stroke: 1px var(--text-dark-color);
}
.home__wrap {
  width: 100%;
  position: relative;
  left: 50%;
  top: -375px;
  translate: -50%;
}
.home__slide {
  overflow: hidden;
  white-space: nowrap;
}
.home__box {
  display: inline-block;
  animation: 35s slide infinite linear;
}
.home__text {
  margin: 0 16px;
  -webkit-text-stroke: 1px var(--text-white-color);
  color: transparent;
  font-size: 6.4rem;
  font-weight: 900;
  line-height: 1.1;
  text-transform: uppercase;
}

.intro-container__content {
  display: flex;
  align-items: center;
}

.intro {
  padding: 58px 0 128px;
}

.intro-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.intro-content__wrap {
  width: 45%;
}
.intro-content__color {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 1.7rem;
}
.intro-content__btn {
  transition: 0.35s ease;
}

.intro-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 48px;
}
.intro-container__wrap {
  padding: 13px;
  border: 1px solid var(--border-color);
  transition: 0.25s ease-in-out;
}
.intro-container__wrap:hover {
  cursor: pointer;
  background: var(--hover-color);
}
.intro-container__wrap:not(:hover) {
  filter: blur(1.1px);
}
.intro-container__thumb {
  width: 100%;
  height: 369px;
  object-fit: cover;
}
.intro-container__content {
  justify-content: space-between;
  padding: 18px 24px 12px;
}
.intro-container__position {
  margin-top: 0;
}

.feedback-container__stars, .feedback-container__wrap, .feedback-container__carousel, .feedback-container, .feedback-content__box {
  display: flex;
  align-items: center;
}

.feedback-content {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.feedback-content__title {
  width: 25%;
}
.feedback-content__box {
  gap: 32px;
}

.feedback-container {
  margin: 48px 0 0 12.5%;
  scroll-behavior: smooth;
}
.feedback-container__carousel {
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  scroll-behavior: smooth;
}
.feedback-container__box {
  width: 362px;
  height: 298px;
  flex-shrink: 0;
  padding: 24px 18px;
  border: 1px solid var(--border-color);
  cursor: pointer;
  transition: background-color 150ms cubic-bezier(0.22, 1, 0.36, 1);
}
.feedback-container__box:hover {
  background: var(--hover-color);
}
.feedback-container__wrap {
  justify-content: space-between;
}
.feedback-container__stars {
  gap: 5px;
}
.feedback-container__avt {
  display: block;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
}
.feedback-container__title {
  margin-top: 23px;
  font-size: 2.4rem;
  line-height: 1.05;
  text-transform: uppercase;
}
.feedback-container__desc {
  height: 45px;
  white-space: wrap;
  margin-top: 42px;
  line-height: 1.4;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.feedback-container__carousel.dragging {
  cursor: grab;
  scroll-behavior: auto;
}

.feedback-container__carousel.dragging .feedback-container__box {
  pointer-events: none;
}

.dev {
  padding: 128px 0;
}

.dev-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
}
.dev-content__wrap {
  width: 72%;
}
.dev-content__title {
  color: #1da09c;
  margin-top: 22px;
  text-shadow: 2px 2px 8px rgba(69, 169, 166, 0.8666666667);
}

.dev-container {
  margin-top: 48px;
}
.dev-container__wrap {
  position: relative;
}
.dev-container__wrap--active {
  background: #1da09c;
}
.dev-container__code, .dev-container__bg {
  width: 100%;
  object-fit: cover;
}
.dev-container__code {
  cursor: pointer;
  transition: 0.25s ease-in;
}
.dev-container__code:hover {
  background: #294e4d;
}
.dev-container__language {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  font-size: 4.2rem;
  font-weight: 600;
  cursor: pointer;
}
.dev-container__text {
  display: none;
  position: absolute;
  top: 12px;
  left: 68px;
  line-height: 1.7;
}
.dev-container__text--active {
  display: block;
}

/*# sourceMappingURL=main.css.map */
