<div class="header-container">
    <a href="/" class="logo">
        <img src="./assets/img/logo.png" alt="" class="logo__img" />
        <h1 class="logo__text">Daddy World</h1>
    </a>
    <!-- Navigator -->
    <nav class="navbar">
        <ul class="navbar__list">
            <li class="navbar__item">
                <a href="./product.html" class="navbar__link">Premium</a>
            </li>
            <li class="navbar__item">
                <a href="#explore" class="navbar__link">Explore</a>
            </li>
            <li class="navbar__item">
                <a href="#feedback" class="navbar__link">Feedback</a>
            </li>
            <li class="navbar__item">
                <a href="#dev" class="navbar__link">Developer</a>
            </li>
            <li class="navbar__item">
                <a href="#!" class="navbar__link">Sign in</a>
            </li>
        </ul>
    </nav>
</div>
